/* Dark cyan: hsl(185, 75%, 39%)
Very dark desaturated blue: hsl(229, 23%, 23%)
Dark grayish blue: hsl(227, 10%, 46%) */

:root {
  font-size: 18px;
  --dark-gray: hsl(0, 0%, 59%);
  --dark-gray-blue: hsl(227, 10%, 46%);
  --drak-blue: hsl(229, 23%, 23%);
  --dark-cyan: hsl(185, 75%, 39%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Kumbh Sans', sans-serif;
  color: #292930;
  max-width: 720px;
}

main {
  background-color: var(--dark-cyan);
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.card {
  width: 350px;
  height: 375px;
  overflow: hidden;
  border-radius: 1rem;
  box-shadow: 1px 2px 20px 1px #888888;
  background: white;
  text-align: center;
  position: relative;
}

.card-header {
  background-image: url(images/bg-pattern-card.svg);
  background-size: cover;
  height: 140px;
}

.card-body {
  padding: 0 20px 25px 20px;
  max-height: 196px;
}

.profile-img-holder {
  width: 110px;
  height: 110px;
  border-radius: 50%;
  border: 5px solid white;
  overflow: hidden;
  margin: -50px auto 25px auto;
}

.profile-img-holder img {
  width: 100%;
  height: auto;
  display: block;
}
h2.name {
  font-size: 1rem;
  margin-bottom: 1rem;
}

.age,
.location,
.unit {
  font-weight: 400;
  color: var(--dark-gray);
}

h2.name > .age {
  padding-left: 4px;
}

.location {
  font-size: 0.9rem;
}

.card-footer {
  border-top: 1px solid #d8d8d8;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  max-height: 87px;
  padding: 25px 30px;
}

.unit {
  padding: 8px;
  font-size: 0.6rem;
  letter-spacing: 2px;
}
/* Back circles */
.background-circles img {
  position: absolute;
  width: 800px;
  height: auto;
}
.item {
  flex: 1;
}
.background-circles .top-circle {
  top: -400px;
  left: -200px;
}

.background-circles .bottom-circle {
  bottom: -500px;
  right: -200px;
}
